Flows/GoogleNow
[{"id":"6ed7cb14.519a74","type":"tab","label":"Google Now"},{"id":"e7a2c1dd.b9154","type":"http in","z":"6ed7cb14.519a74","name":"Request","url":"/google","method":"get","upload":false,"swaggerDoc":"","x":85,"y":109,"wires":[["3e302934.af5a56","5ef2754a.6ca81c"]]},{"id":"3e3d1d83.8f4192","type":"http response","z":"6ed7cb14.519a74","name":"Response","x":948,"y":105,"wires":[]},{"id":"3e302934.af5a56","type":"debug","z":"6ed7cb14.519a74","name":"","active":true,"console":"false","complete":"req.query.text","x":340,"y":36,"wires":[]},{"id":"3913dc89.6e8a74","type":"inject","z":"6ed7cb14.519a74","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":116,"y":238,"wires":[["66fb415d.df309"]]},{"id":"5ef2754a.6ca81c","type":"function","z":"6ed7cb14.519a74","name":"Analyze voice command","func":"var temp = msg.req.query.text;\nmsg.payload.command = 0;\nmsg.payload.success = false;\n\n// removing rubbish\ntemp = temp.toLowerCase();\ntemp = ```temp.replace(\"a \",\"\");\ntemp = temp.replace(\"the \",\"\");\ntemp = temp.replace(\"to \",\"\");\ntemp = temp.replace(\"home \",\"\");\ntemp = temp.replace(\"lights\",\"light\");\n\n// check if the command is to turn something on/off\nif (temp.indexOf(\"turn\")>-1) {\n    temp = temp.replace(\"turn \",\"\");\n    msg.payload.command = 1;\n}\nif (temp.indexOf(\"switch\")>-1) {\n    temp = temp.replace(\"switch \",\"\");\n    msg.payload.command = 1;\n}\n\n// check if the command is about the solar panels\nif (temp.indexOf(\"solar\")>-1) {\n    temp = temp.replace(\"solar \",\"\");\n    msg.payload.command = 2;\n}\n\n// let's try finding the thing and state\n// the turn/switch commands are expected as 'turn <state> the <thing>'\nvar lastIndex= temp.indexOf(\" \");\nvar voice_state = temp.substring(0, lastIndex).trim();\nvar voice_thing = temp.substring(lastIndex+1,temp.length).trim();\n\n// evaulate the state\nif (voice_state===\"on\") {\n    msg.payload.command_value = \"1\";\n}\nif (voice_state===\"off\") {\n    msg.payload.command_value = \"0\";\n}\n\n// handle the solar request\nif (msg.payload.command===2) {\n    msg.payload.response=\"The solar system is currently generating \" + global.get(\"growatt_power\") + \" watts. Total generation today is \" + global.get(\"growatt_today\") + \" kilowatt hours.\";\n}\n\n// handle the switch commands\nif (msg.payload.command===1) {\n    switch (voice_thing) {\n        case \"christmas light\":\n            msg.payload.response=\"OK, turning \" + voice_state + \" the \" + voice_thing;\n            msg.payload.success = true;\n            msg.payload.command_thing=\"Sonoff1\";\n            break;\n        case \"test light\":\n            msg.payload.response=\"OK, turning \" + voice_state + \" the \" + voice_thing;\n            msg.payload.success = true;\n            msg.payload.command_thing=\"Test\";\n            break;\n        default:\n            msg.payload.response=\"Sorry, I did not understand turning \" + voice_state + \" the \" + voice_thing;\n            msg.payload.success = false;\n            break;\n    }\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":366.00001525878906,"y":101.00000667572021,"wires":[["d82f8a96.bd8a18","72e4ca08.52d4f4","7fa91073.4957b"]]},{"id":"d82f8a96.bd8a18","type":"debug","z":"6ed7cb14.519a74","name":"","active":true,"console":"false","complete":"false","x":864,"y":211,"wires":[]},{"id":"72e4ca08.52d4f4","type":"switch","z":"6ed7cb14.519a74","name":"Check if command was valid","property":"payload.success","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":438,"y":226.0000057220459,"wires":[["41557894.9c0738"]]},{"id":"41557894.9c0738","type":"switch","z":"6ed7cb14.519a74","name":"Check command","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","outputs":3,"x":281.00000762939453,"y":343.00000953674316,"wires":[["9e377414.93c6b8","fb372551.bdd688"],[],[]]},{"id":"9e377414.93c6b8","type":"switch","z":"6ed7cb14.519a74","name":"Christmas light?","property":"payload.command_thing","propertyType":"msg","rules":[{"t":"eq","v":"Sonoff1","vt":"str"}],"checkall":"true","outputs":1,"x":524.0000305175781,"y":302.99999809265137,"wires":[["6a13f5dc.5a6fbc"]]},{"id":"6a13f5dc.5a6fbc","type":"function","z":"6ed7cb14.519a74","name":"Put value to payload","func":"msg.payload = msg.payload.command_value;\nreturn msg;","outputs":1,"noerr":0,"x":618,"y":399,"wires":[["d909fa63.74c8d8"]]},{"id":"7fa91073.4957b","type":"function","z":"6ed7cb14.519a74","name":"Put response into payload","func":"msg.payload = msg.payload.response;\nreturn msg;","outputs":1,"noerr":0,"x":697,"y":103,"wires":[["3e3d1d83.8f4192"]]},{"id":"66fb415d.df309","type":"function","z":"6ed7cb14.519a74","name":"Move value","func":"msg.req.query.text = \"home turn on the christmas light\"\nreturn msg;","outputs":1,"noerr":0,"x":239,"y":173,"wires":[["5ef2754a.6ca81c"]]},{"id":"d909fa63.74c8d8","type":"link out","z":"6ed7cb14.519a74","name":"","links":["2bd7b670.60308a"],"x":856.4999694824219,"y":397.6666488647461,"wires":[]},{"id":"fb372551.bdd688","type":"switch","z":"6ed7cb14.519a74","name":"Test light?","property":"payload.command_thing","propertyType":"msg","rules":[{"t":"eq","v":"Test","vt":"str"}],"checkall":"true","outputs":1,"x":364.6666564941406,"y":424.66666412353516,"wires":[["b18f2742.e14188"]]},{"id":"4810d8a5.74f358","type":"mqtt out","z":"6ed7cb14.519a74","name":"light","topic":"/house/light1","qos":"","retain":"","broker":"4a13b26b.ee8edc","x":1074.187515258789,"y":348.8716425895691,"wires":[]},{"id":"b18f2742.e14188","type":"switch","z":"6ed7cb14.519a74","name":"","property":"payload.command_value","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":458.7361373901367,"y":476.8090658187866,"wires":[["948960dc.ceea8"],["110e61ac.23a9de"]]},{"id":"110e61ac.23a9de","type":"change","z":"6ed7cb14.519a74","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":695.7361602783203,"y":531.7778167724609,"wires":[["4810d8a5.74f358"]]},{"id":"948960dc.ceea8","type":"change","z":"6ed7cb14.519a74","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":707.3022384643555,"y":477.21888542175293,"wires":[["dd649cde.ff279","4810d8a5.74f358"]]},{"id":"dd649cde.ff279","type":"debug","z":"6ed7cb14.519a74","name":"","active":true,"console":"false","complete":"payload","x":1101.2917518615723,"y":455.6354331970215,"wires":[]},{"id":"db6e461a.a870c8","type":"inject","z":"6ed7cb14.519a74","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":734.5243530273438,"y":646.520866394043,"wires":[["4810d8a5.74f358"]]},{"id":"4a13b26b.ee8edc","type":"mqtt-broker","z":"","broker":"192.168.31.207","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]```
